#!/bin/sh -e

CONFIG_FILE=/etc/default/pioneers-meta-server

. /usr/share/debconf/confmodule

# Get current values of the settings.
if [ -r "$CONFIG_FILE" ] ; then
	. "$CONFIG_FILE"
fi

# This function will read variable $1 and set it as default to debconf
# question $2.  If the variable $1 is unset or empty, the template's default
# will be used.
conffile_parse ()
{
	variable="$1"
	question="$2"
	# Read the default from the config file.
	default="`eval 'echo $'"$variable"`"

	# Correct boolean values so debconf understands them.
	if [ "$default" ] ; then
		db_metaget "$question" type
		if [ "$RET" = boolean ] ; then
			case "$default" in
			yes|Yes|YES|true|True|TRUE|1)
				default=true
				;;
			no|No|NO|false|False|FALSE|0)
				default=false
				;;
			*)
				echo "Warning: value '$default' of variable '$variable' not a boolean: ignored."
				default=
				;;
			esac
		fi
	fi

	# If we still have a default to set, do so.
	if [ "$default" ] ; then
		db_set "$question" "$default"
	fi
}

# Parse values from the config file and use them as defaults.
conffile_parse PORT_RANGE pioneers-meta-server/ports
conffile_parse META_SERVER_NAME pioneers-meta-server/name
conffile_parse META_SERVER_ARGS pioneers-meta-server/arguments

# Ask the questions.
db_input low pioneers-meta-server/ports || true
db_go

db_get pioneers-meta-server/ports
if [ ! -z "$RET" ] ; then
	db_input low pioneers-meta-server/name || true
fi
db_input low pioneers-meta-server/arguments || true
db_go
